// global-loader.module.scss
@import "../base/_colors.scss";

@keyframes load {
    0% {
        left: -100%;
    }
    100% {
        left: 100%;
    }
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 6px; // Minimal height for the loader
    background: $primary; // Solid color for clear visibility
    animation: load 2s infinite;
    z-index: 9999;
}
