@keyframes shimmer {
    0% {
        background-position: -200% 0;
    }
    100% {
        background-position: 200% 0;
    }
}

.skeletonTableWrapper {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: calc(50px * 50); // Modify this to adjust the parent height
    // width: 100vw;
    
}

.skeletonRow {
    display: flex;
    height: 50px;
    margin-bottom: 10px;
    width: 100%;
    .skeletonCell {
        flex: 1;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.06) 25%, rgba(0, 0, 0, 0.12) 50%, rgba(0, 0, 0, 0.06) 75%);
        background-size: 200% 100%;
        animation: shimmer 1.5s infinite;
        margin-right: 10px;
        &:last-child {
            margin-right: 0;
        }
    }
}
