@import "../../../styles/base/_mixins.scss";
@import "../../../styles/base/_variables.scss";
@import "../../../styles/base/_colors.scss";

.clientRadioLabel {
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;

  input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  input[type="radio"] + span {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 12px;
    border: 2px solid $border;
    border-radius: 50%;
    position: relative;
    background-color: $white;
  }

  input[type="radio"]:checked + span {
    border: 4px solid;
    border-color: $primary;
  }

  input[type="radio"]:checked:disabled + span {
    border: 4px solid $primary;
    background-color: $border;
    cursor: not-allowed;
  }

  input[type="radio"]:disabled + span {
    cursor: not-allowed;
    background-color: #f5f5f5;
    border-color: $border;
  }

  input[type="radio"]:disabled + span + * {
    cursor: not-allowed;
  }

  input[type="radio"]:disabled ~ * {
    cursor: not-allowed;
  }

  input[type="radio"]:disabled {
    cursor: not-allowed;
  }
}

.adminRadioLabel {
  font-size: 12px;
  cursor: pointer;
  margin-top: 6px;

  input[type="radio"]:disabled + span {
    cursor: not-allowed;
    background-color: #f5f5f5;
    border-color: $border;
  }

  input[type="radio"]:disabled + span + * {
    cursor: not-allowed;
  }

  input[type="radio"]:disabled ~ * {
    cursor: not-allowed;
  }

  input[type="radio"]:disabled {
    cursor: not-allowed;
  }

  input[type="radio"]:checked:disabled + span {
    border: 4px solid $primary;
    background-color: #f5f5f5;
    cursor: not-allowed;
  }
}

.radioGrid {
  display: grid;
  gap: 12px;
  align-items: center;
}

@for $lg from 1 through 6 {
  @for $md from 1 through 6 {
    @for $sm from 1 through 6 {
      .responsiveCols_#{$lg}_#{$md}_#{$sm} {
        grid-template-columns: repeat(#{$lg}, 1fr);

        @include respond-to("large") {
          grid-template-columns: repeat(#{$md}, 1fr);
        }

        @include respond-to("small") {
          grid-template-columns: repeat(#{$sm}, 1fr);
        }
      }
    }
  }
}
