@import "../../../styles/base/_mixins.scss";
@import "../../../styles/base/_variables.scss";
@import "../../../styles/base/_colors.scss";

.clientRadioLabel,
.adminRadioLabel {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  font-size: 16px;
  // font-weight: 600;
  color: $mud-gray;

  input[type="radio"] {
    display: none;
  }

  span {
    width: 1rem;
    height: 1rem;
    border: 2px solid $gray-400;
    border-radius: 50%;
    display: inline-block;
    position: relative;

    &:after {
      content: "";
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: none;
    }
  }

  input[type="radio"]:checked + span:after {
    display: block;
  }

  input[type="radio"]:checked + span {
    border: solid 4px $primary;
  }

  input[type="radio"]:disabled + span {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.radioGrid {
  display: grid;
  align-items: center;
  gap: 1rem;
  padding: 9.3px 12px;
}

.errorText {
  color: var(--error);
  font-size: 0.75rem;
  margin-top: 0.25rem;
}

// Responsive grid classes
.responsiveCols_1_1_1 {
  grid-template-columns: repeat(1, 1fr);
}
.responsiveCols_2_2_1 {
  grid-template-columns: repeat(2, 1fr);
  @media (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
.responsiveCols_3_2_1 {
  grid-template-columns: repeat(3, 1fr);
  @media (max-width: 992px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
.responsiveCols_4_2_1 {
  grid-template-columns: repeat(4, 1fr);
  @media (max-width: 992px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
.responsiveCols_5_3_2 {
  grid-template-columns: repeat(5, 1fr);
  @media (max-width: 992px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
.responsiveCols_6_3_2 {
  grid-template-columns: repeat(6, 1fr);
  @media (max-width: 992px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
