.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #fff;
    font-family: 'Ubuntu', sans-serif;
}

.title {
    color: #2c3e50;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.1);
}

.description {
    color: #7f8c8d;
    font-size: 1.25rem;
    text-align: center;
    max-width: 60%;
    margin: 0 auto;
}

.hoePageBtn {
    max-width: 200px;
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
}