@import "../base/colors.scss";
@import "../base/_mixins.scss";
.forgotPasswordContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: $primary;

  .formContainer {
    min-height: calc(100vh - 4rem);
    background: $white;
    padding: 2rem;
    padding-top: 5rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;

    .logo {
      width: 60px;
      height: 60px;
    }

    .welcomeText {
      margin-bottom: 2rem;
      color: $primary;

      h1 {
        font-size: 1.75rem;
        font-weight: 700;

        @include respond-to("small") {
          font-size: 1rem;
        }
      }

      p {
        color: $mud-gray;
        font-weight: 700;
      }
    }

    .formGrid {
      display: flex;
      flex-direction: column;
    }

    .submitButton {
      margin-top: 0.5rem;
      width: 100%;
    }

    .backToLogin {
      text-decoration: none;
      font-size: 0.875rem;
      text-align: center;
      margin-top: 1.5rem;
      color: $mud-gray;

      a {
        font-weight: 700;
        color: $mud-gray;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
