@import "../base/colors.scss";
@import "../base/_mixins.scss";

.accordionContent {
  margin: 0 30px 30px;
  display: grid;
  grid-template-columns: auto 1fr;
  row-gap: 10px;
  column-gap: 20px;
  align-items: center;

  @include respond-to(small) {
    margin: 0 15px 20px;
    grid-template-columns: 1fr;
    row-gap: 5px;
  }

  p {
    margin: 0;
    color: $label-color;

    @include respond-to(small) {
      font-size: 14px;
      margin-bottom: 10px;
    }
  }
}

.accordionLabel {
  margin: 0;
  padding: 0 !important;
  justify-content: flex-start !important;

  @include respond-to(small) {
    margin-bottom: 2px;
  }
}

.buttonContainer {
  @include respond-to(small) {
    flex-direction: column;
  }
}

.tabsWrapper {
  display: flex;
  gap: 8px;
  margin-bottom: 24px;
}

.tab {
  padding: 8px 56px !important;
  font-weight: 600;
  color: $mud-gray !important;
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
  outline: none;

  @include respond-to(small) {
    padding: 8px 16px !important;
  }
}

.activeTab {
  padding: 8px 56px !important;
  background: $blue-lighter !important;

  //   color: $white;
  //   border: 1px solid $primary;
  //   border-bottom: 2px solid $primary-light;
    font-weight: 600;
  z-index: 1;
  @include respond-to(small) {
    padding: 8px 16px !important;
  }
}

.tabContent {
  //   padding: 32px 0;
  //   color: $label-color;
  //   text-align: center;
  //   font-size: 18px;
}
