// login.module.scss
@import '../base/colors.scss';
@import "../base/_mixins.scss";

.loginContainer {
  width: 100%;

  .loginRow {
    width: 100%;
    display: flex;

  }

  .loginFormContainer,
  .logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;

    form {
      min-width: 350px;
      margin: 0 auto;
      label {
        font-size: 12px;
      }

      input,
      button {
        margin-bottom: .5rem;
        padding: 9.3px 45px !important;
      }
    }
  }

  .logoContainer {
    width: 100%;
    background-image: url('/assets/images/branding.png');

    img {
      object-fit: cover;
    }

    @include respond-to('small') {
      display: none;
    }
  }
}

.formWrapper {
  width: 100%;
  // max-width: 300px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  max-width: 360px;
  margin: 0 auto;
}

.dangerIcon {
  position: fixed;
  margin: 11px 0px 0px 10px;
}

.responseWrapper {
  width: 100%;
  padding: 10px;
  font-size: 12px;
  border-radius: 10px;
  color: #fff;
  text-align: center;
}

.responseWrapper.shake {
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  10% {
    transform: translateX(-10px);
  }

  20% {
    transform: translateX(10px);
  }

  30% {
    transform: translateX(-10px);
  }

  40% {
    transform: translateX(10px);
  }

  50% {
    transform: translateX(-10px);
  }

  60% {
    transform: translateX(10px);
  }

  70% {
    transform: translateX(-10px);
  }

  80% {
    transform: translateX(10px);
  }

  90% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(0);
  }
}

.hidden {
  display: none;
}

.inputWrapper {
  input {
    padding: 9.3px 45px !important;
  }
}

.userNameField {
  background-image: url(/assets/svg/mail.svg);
  background-position: left 1.5em center;
  background-repeat: no-repeat;
  background-size: 16px; 
  position: relative !important;
  z-index: 1000;
}

.passwordField {
  background-image: url(/assets/svg/password.svg);
  background-position: left 1.5em center;
  background-repeat: no-repeat;
  background-size: 16px;
}

.loginBtn {
  font-size: 14px!important;
  // padding: 13px 10px!important;
}
.loginFormFooter {
  position:absolute;
  bottom: 20px;
  font-size: 12px;
}
.loginImagetxt {
  position: absolute;
  bottom: 20px;
  right: 30px;
  font-size: 18px;
  color: #fff;
  opacity: .6;
  @include respond-to('small') {
    opacity: 0;
   }
}
.rememberCheckbox {
  margin-bottom: 1rem;
  input{
    margin-bottom: 0!important;
  }
}
.dashboardSidebarTitle {
  font-size: 1.3rem;
}