/* variables.scss */

// Typography
$font-family-base: 'Ubuntu', sans-serif;
$font-size-base: 16px;
$line-height-base: 1.5;
$font-weight-normal: 400;
$font-weight-bold: 700;

// Breakpoints
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-xlarge: 1200px;

// Spacing
$spacing-unit: 8px;

// Border radius
$border-radius-small: 4px;
$border-radius-base: 8px;
$border-radius-large: 16px;

// Box shadow
$box-shadow-default:  0px 0px 4px 0px rgba(0,0,0,0.16);
$box-shadow-strong: 0px 4px 25px 0px rgba(0,0,0,0.12);

// radius   
$border-radius: 7px;